.speech {
    font-family: 'Times New Roman', Times, serif, san-serif; 
    font-size: 16px;
    color: black;

 }

 .direction {
    font-family: Times New Roman, serif;
    font-size: 18px;
    color: Black;
    background-color: skyblue;
 }

 .direction:hover{
    background-color: yellowgreen;
    color: red;
 }

 .oedipus{
    color:darkred; 
 }
 .athenian{
    color:darkblue; 
 }

 table{
    width: 60%;
    border-collapse: collapse;
  }
  th,td {
    border: 2px solid black;
    padding: 6px;
    text-align: center;
    
  }
  th{
    background-color: yellow;
  }

  h4:hover {
    text-shadow: 2px 2px 6px orange; 
    border: 2px solid whitesmoke;       
    padding: 3px;                
    transition: all 0.2s ease;     
   }

   .navbar-horizontal
 {
    background-color:skyblue;
    bottom:0;
    width: 100%;
    position: initial;
    border: #4db5c0;
    padding :10px 0;
    text-align: center;
                                     

 }
.navbar-horizontal ul {
    
    list-style: none;
    margin:0%;
    padding: 0%;
  
  }
  
  .navbar-horizontal li {
    display: inline;
    margin: 0 15px;
    float:center;
  }
  
 .navbar-horizontal a {
    color: black;
    padding:2px
    
  }
  .navbar-horizontal img{
    vertical-align: middle;
    margin-right: 5px;
    height: 15px;
  }

  .navbar-horizontal li:hover{
background-color:rgb(152, 194, 140);
  }
